[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
web3 = "*"
cent = "*"
websocket-client = "*"
rel = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
